.hero {
    position: relative;
}

.banner-img {
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption {
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}

.caption-img {
    width: 100%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero-caption p {
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.hero-btns .btn img{
    width: 25px;
}

.hero-btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btns .btn.dark-btn{
    color: #fff;
    background: #6d6d6eb3;
}

.hero-btns .btn:hover{
    background: #ffffffbf;
}

.hero-btns .btn.dark-btn:hover{
    background: #6d6d6e66;
}

.more-cards{
    padding-left: 6%;
}

@media screen and (max-width: 768px) {
    .hero-caption p {
        font-size: 15px;
    }

    .hero-btns .btn{
        padding: 8px 15px;
        font-size: 13px;
    }

    .hero-btns .btn img{
        width: 20px;
    }
    .hero-caption .title-cards{
        display: none;
    }
    
}
@media screen and (max-width: 480px) {
    .hero-caption p {
        font-size: 13px;
    }
    .hero-caption img{
        margin-bottom: 10px;
        width: 40%;
    }

    .hero-btns .btn{
        padding: 8px 10px;
        font-size: 12px;
    }

    .hero-btns .btn img{
        width: 18px;
    }
    .hero-caption .title-cards{
        display: none;
    }
    .more-cards{
        padding-left: 4%;
    }
    
}